* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: aliceblue;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 0.3px solid rgb(119, 90, 90);
}
.left {
  margin: 0 10px;
}
.left div a {
  color: red;
  font-size: 30px;
  letter-spacing: 0.1rem;
}
.left div a span {
  color: aliceblue;
  font-size: 23px;
}
.right ul {
  display: flex;
  list-style: none;
  justify-items: end;
  margin-top: 5px;
}

.right ul li {
  margin-right: 25px;
  transition: all 0.5s ease-in-out;
}
